In [1]:
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

# Download VADER lexicon if not already downloaded
nltk.download('vader_lexicon')

# Initialize the VADER sentiment analyzer
sia = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/manish/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [9]:
# Sample text for sentiment analysis
sample_text = "it's there but can be okay"

# Perform sentiment analysis
sentiment_scores = sia.polarity_scores(sample_text)

data = [sentiment_scores['pos'],sentiment_scores['neg'],sentiment_scores['neu']]
# Print the sentiment scores
print("Sentiment Scores:", sentiment_scores)
print(data)
# Determine the overall sentiment
if sentiment_scores['compound'] >= 0.05:
    print("Overall Sentiment: Positive")
elif sentiment_scores['compound'] <= -0.05:
    print("Overall Sentiment: Negative")
else:
    print("Overall Sentiment: Neutral")

Sentiment Scores: {'neg': 0.0, 'neu': 0.68, 'pos': 0.32, 'compound': 0.3291}
[0.32, 0.0, 0.68]
Overall Sentiment: Positive

In [6]:
from flask import Flask, render_template, request, jsonify

In [5]:
import pandas as pd
df = pd.read_csv('Tweets.csv')
df.head(2)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)

In [6]:
df['airline_sentiment'].value_counts()

negative    9178
neutral     3099
positive    2363
Name: airline_sentiment, dtype: int64